body{
    display: grid;
    max-width: 920px;
    margin: auto;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
    margin: 1.5rem;
}

a{
    display: grid;
}